body {
background: #DDDDFF;
color: #333333;
font-family: sans-serif;
}

a {
text-decoration: none;
color: #7777FF;
}

a:visited {
text-decoration: none;
color: #7777FF;
}

a:hover {
text-decoration: none;
color: #DCCC66;
}

td {
width: 20px;
height: 20px;
}

.cent {
text-align: center;
}

table {
margin: 0px; 
padding: 0px;
border-spacing: 0px;
}

tr {
margin: 0px; 
padding: 0px;
border-spacing: 0px;
}

td {
margin: 0px; 
padding: 0px; 
border-spacing: 0px; 
}